.overview{
    font-size:27px;
    font-weight: 300;
}

.underview{
    font-size:23px;
    font-weight: 300;
}

.toptier{
    font-size:28px;
    font-weight: 600;
}

.uppersecondtier{
    font-size:24px;
    font-weight: 400;
}

.secondtier{
    font-size:20px;
    font-weight: 400;
}

.thirdtier{
    font-size:16px;
    font-weight: 400;
}


.head1{
    font-size:32px;
    font-weight: 600;
}

.head2{
    font-size:28px;
    font-weight: 400;
}

.head3{
    font-size:24px;
    font-weight: 400;
}

.head4{
    font-size:20px;
    font-weight: 400;
}

@media only screen and (max-width: 360px){
    h1{
        margin: 0;
        margin-bottom: 5px;
    }
}

/* #profile-img{
    
} */