.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #10E7DC,#0074E1, #6CDAEE);
  height: 100vh;
  min-height: 100%;
}

.bg-main{
  background-color: #3AAFA9;
}

.content{
  display: flex;
  justify-content: center;
  position: relative;
  top: 12%;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  font-weight: 700;
  /* Change font Style */
}

.align{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-rnd{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #1A1A1D;
  color: #CEFF00;

}

.icon-style{
  height: 20px;
  width: 20px;
}

.icon-style2{
  height: 40px;
  width: 40px;
}

.blocktxt {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Change font Style */
}

.blocktext2 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  text-align: center;
  /* Change font Style */
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}


#twitter-btn{
  /* color: white; */
  text-decoration: none;
}

a:active {
  color: #CEFF00;
}

a:hover {
  color: #CEFF00;
}

.particle-canvas {
  position: absolute !important;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

#img-style{
  width: 10%;
  height: 10%;
  position: relative;
  top: 20px;
  float: left;
  padding: 0;
  margin: 1rem;
}

#contact-img-style{
  width: 12%;
  height: 12%;
  position: relative;
  top: 150px;
  padding-top: 20px;
  margin: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
		transform: translatey(0px);
	}
}

#scroll-btn{
  animation: float infinite 2s linear;
}

/* #scroll-btn2{
  animation: float infinite 2s linear;
  transform:rotate(180deg);
} */

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  background-color: black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #CEFF00;;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}


.scroll-up {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  background-color: black;
  position: absolute;
  left: 40%;
  bottom: 0;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-up::before,
.scroll-up::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(-135deg);
  border: 2px solid #CEFF00;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-up 1s ease-in-out infinite;
}
.scroll-up::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-up {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

#personal-contained{
  width: 80%;
  height: 80%;
}
#profile-img{
  width: 70%;
}

@media screen and (max-width: 1024px){ 
  /* Home */
  #home-h1{
    font-size: 2.5em;
  }
  #home-h4{
    font-size: 1.5em;
  }
  /* Footer */
  #footer-txt{
    font-size: small;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 30px;
  }
  #profile-page-header{
    font-size: 2.5em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: 1.5em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: 1.25em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
  }
  #highSchool, 
  #college{
    font-size: 1.25em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 50%;
    padding-bottom: 20px;
  }
  #name, 
  #roles,
  #location{
    font-size: 1.4em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 10px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .8em;
    padding: 0;
    width: 100px; 
  }
  .icon-style{
    height: 20px;
    width: 20px;
  }
  #profile-part1{
    padding-bottom: 30px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: 1.5em;
    font-weight: bold;
  }
  nav{
    width: 15vw;
    height: 30vh;
    color: white;
    border-radius: 10px;
  }
  #scroll-btn{
    height: 60px;
    width: 40px;
  }
  .scroll-up{
    left: 30%;
  }
  /* Skills */
  #skills-header{
    font-size: 2.5em;
    font-weight: bold;
  }
  #img-style{
    width: 18% !important;
    height: 18% !important;
  }
  #img-row{
    padding: 40px 0;
  }
  /* #img-container{
    justify-content: center;
    align-items: center;
  } */
  #xp-header{
    font-size: 2.5em;
    font-weight: bold;
  }
  .head1{
    font-size: 2em;
    font-weight: 600;
  }
  .head2{
    font-size: 1.9em;
    font-weight: 600;
  }
  .head3{
    font-size: 1.7em;
    font-weight: 600;
  }
  .head4{
    font-size: 1.6em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 200px;
  }
  /* Projects Page */
  #projects-header{
    font-size: 2.5em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 350px;
    height: 350px;
  }
  #projects-message{
    font-size: 2em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 100px;
  }
  /* Contact */
  #contact-header{
    font-size: 2.5em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 23%;
    height: 23%;
    top: 150px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 768px){
  /* Home */
  #home-h1{
    font-size: 2.5em;
  }
  #home-h4{
    font-size: 1.5em;
  }
  /* Footer */
  #footer-txt{
    font-size: small;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 10px;
  }
  #profile-page-header{
    font-size: 1.8em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: 1.3em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: 1.1em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 20px;
  }
  #highSchool, 
  #college{
    font-size: 1.1em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 40%;
    padding-bottom: 5px;
  }
  #name, 
  #roles,
  #location{
    font-size: 1.1em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 10px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .6em;
    padding: 0;
    width: 80px; 
  }
  .icon-style{
    height: 15px;
    width: 15px;
  }
  #profile-part1{
    padding-bottom: 10px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: 1.2em;
    font-weight: bold;
  }
  nav{
    width: 18vw;
    height: 35vh;
    color: white;
    border-radius: 10px;
  }
  #scroll-btn{
    height: 60px;
    width: 40px;
  }
  .scroll-up{
    left: 20%;
  }
  /* Skills */
  #skills-header{
    font-size: 1.8em;
    font-weight: bold;
  }
  #img-style{
    width: 18% !important;
    height: 18% !important;
  }
  #img-row{
    padding: 0;
  }
  #xp-header{
    font-size: 1.8em;
    font-weight: bold;
  }
  .head1{
    font-size: 1.6em;
    font-weight: 600;
  }
  .head2{
    font-size: 1.4em;
    font-weight: 600;
  }
  .head3{
    font-size: 1.2em;
    font-weight: 600;
  }
  .head4{
    font-size: 1.1em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 100px;
  }
  /* Projects Page */
  #projects-header{
    font-size: 1.8em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 250px;
    height: 250px;
  }
  #projects-message{
    font-size: 1.5em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 50px;
  }
  /* Contact */
  #contact-header{
    font-size: 1.8em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 20%;
    height: 20%;
  }
}

@media only screen and (max-width: 540px){
  /* Home */
  #home-h1{
    font-size: 2em;
  }
  #home-h4{
    font-size: 1.2em;
  }
  /* Footer */
  #footer-txt{
    font-size: .6em;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 0px;
  }
  #profile-page-header{
    font-size: 1.4em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: .9em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: .7em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: .9em;
    font-weight: bold;
    padding-top: 20px;
  }
  #highSchool, 
  #college{
    font-size: .7em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 40%;
    padding-bottom: 0px;
  }
  #name, 
  #roles,
  #location{
    font-size: .8em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 5px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .6em;
    padding: 0;
    width: 70px; 
  }
  .icon-style{
    height: 15px;
    width: 15px;
  }
  #profile-part1{
    padding-bottom: 5px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: 1em;
    font-weight: bold;
  }
  nav{
    width: 18vw;
    height: 40vh;
    color: white;
    border-radius: 12px;
  }
  #scroll-btn{
    height: 40px;
    width: 30px;
  }
  .scroll-up{
    left: 20%;
  }
  /* Skills */
  #skills-header{
    font-size: 1.4em;
    font-weight: bold;
  }
  #img-style{
    width: 16% !important;
    height: 16% !important;
  }
  #img-row{
    padding: 0;
  }
  #xp-header{
    font-size: 1.4em;
    font-weight: bold;
  }
  .head1{
    font-size: 1.2em;
    font-weight: 600;
  }
  .head2{
    font-size: 1.1em;
    font-weight: 600;
  }
  .head3{
    font-size: 1.05em;
    font-weight: 600;
  }
  .head4{
    font-size: 1em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 20px;
  }
  /* Projects Page */
  #projects-header{
    font-size: 1.4em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 200px;
    height: 200px;
  }
  #projects-message{
    font-size: 1.5em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 0px;
  }
  /* Contact */
  #contact-header{
    font-size: 1.4em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 22%;
    height: 22%;
    top: 50px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 414px){
  /* Home */
  #home-h1{
    font-size: 1.5em;
  }
  #home-h4{
    font-size: 1em;
  }
  /* Footer */
  #footer-txt{
    font-size: .6em;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 0px;
  }
  #profile-page-header{
    font-size: 1.2em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: .8em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: .7em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: .8em;
    font-weight: bold;
    padding-top: 0px;
  }
  #highSchool, 
  #college{
    font-size: .7em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 50%;
    padding-bottom: 0px;
  }
  #name, 
  #roles,
  #location{
    font-size: .65em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 0px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .6em;
    padding: 0;
    width: 55px; 
  }
  .icon-style{
    height: 15px;
    width: 15px;
  }
  #profile-part1{
    padding-bottom: 0px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: .8em;
    font-weight: bold;
  }
  nav{
    width: 18vw;
    height: 35vh;
    color: white;
    border-radius: 12px;
  }
  #scroll-btn{
    height: 30px;
    width: 20px;
  }
  .scroll-up{
    left: 20%;
  }
  /* Skills */
  #skills-header{
    font-size: 1.2em;
    font-weight: bold;
  }
  #img-style{
    width: 13% !important;
    height: 13% !important;
  }
  #img-row{
    padding-top: 20px;
  }
  #xp-header{
    font-size: 1.2em;
    font-weight: bold;
  }
  .head1{
    font-size: 1em;
    font-weight: 600;
  }
  .head2{
    font-size: .95em;
    font-weight: 600;
  }
  .head3{
    font-size: .9em;
    font-weight: 600;
  }
  .head4{
    font-size: .89em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 20px;
  }
  /* Projects Page */
  #projects-header{
    font-size: 1.2em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 200px;
    height: 200px;
  }
  #projects-message{
    font-size: 1.1em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 50px;
  }
  /* Contact */
  #contact-header{
    font-size: 1.2em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 25%;
    height: 25%;
    top: 50px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 375px){
  /* Home */
  #home-h1{
    font-size: 1.5em;
  }
  #home-h4{
    font-size: 1em;
  }
  /* Footer */
  #footer-txt{
    font-size: .6em;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 0px;
  }
  #profile-page-header{
    font-size: 1em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: .7em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: .6em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: .7em;
    font-weight: bold;
    padding-top: 0px;
  }
  #highSchool, 
  #college{
    font-size: .6em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 50%;
    padding-bottom: 0px;
  }
  #name, 
  #roles,
  #location{
    font-size: .6em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 0px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .6em;
    padding: 0;
    width: 55px; 
  }
  .icon-style{
    height: 15px;
    width: 15px;
  }
  #profile-part1{
    padding-bottom: 0px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: .7em;
    font-weight: bold;
  }
  nav{
    width: 18vw;
    height: 35vh;
    color: white;
    border-radius: 12px;
  }
  #scroll-btn{
    height: 30px;
    width: 20px;
  }
  .scroll-up{
    left: 20%;
  }
  /* Skills */
  #skills-header{
    font-size: 1em;
    font-weight: bold;
  }
  #img-style{
    width: 12% !important;
    height: 12% !important;
  }
  #img-row{
    padding-top: 0px;
  }
  #xp-header{
    font-size: 1em;
    font-weight: bold;
  }
  .head1{
    font-size: .9em;
    font-weight: 600;
  }
  .head2{
    font-size: .89em;
    font-weight: 600;
  }
  .head3{
    font-size: .85em;
    font-weight: 600;
  }
  .head4{
    font-size: .82em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 0px;
  }
  /* Projects Page */
  #projects-header{
    font-size: 1em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 130px;
    height: 130px;
  }
  #projects-message{
    font-size: .9em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 50px;
  }
  /* Contact */
  #contact-header{
    font-size: 1em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 22%;
    height: 22%;
    top: 50px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 360px){
  /* Home */
  #home-h1{
    font-size: 1.5em;
  }
  #home-h4{
    font-size: 1em;
  }
  /* Footer */
  #footer-txt{
    font-size: .8em;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 0px;
  }
  #profile-page-header{
    font-size: 1em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: .65em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: .56em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: .65em;
    font-weight: bold;
    padding-top: 0px;
  }
  #highSchool, 
  #college{
    font-size: .56em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 50%;
    padding-bottom: 0px;
  }
  #name, 
  #roles,
  #location{
    font-size: .56em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 0px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .6em;
    padding: 0;
    width: 55px; 
  }
  .icon-style{
    height: 15px;
    width: 15px;
  }
  #profile-part1{
    padding-bottom: 0px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: .6em;
    font-weight: bold;
  }
  nav{
    width: 18vw;
    height: 35vh;
    color: white;
    border-radius: 12px;
  }
  #scroll-btn{
    height: 30px;
    width: 20px;
  }
  .scroll-up{
    left: 20%;
  }
  /* Skills */
  #skills-header{
    font-size: 1em;
    font-weight: bold;
  }
  #img-style{
    width: 12% !important;
    height: 12% !important;
  }
  #img-row{
    padding-top: 0px;
  }
  #xp-header{
    font-size: 1em;
    font-weight: bold;
  }
  .head1{
    font-size: .9em;
    font-weight: 600;
  }
  .head2{
    font-size: .89em;
    font-weight: 600;
  }
  .head3{
    font-size: .85em;
    font-weight: 600;
  }
  .head4{
    font-size: .82em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 0px;
  }
  /* Projects Page */
  #projects-header{
    font-size: 1em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 130px;
    height: 130px;
  }
  #projects-message{
    font-size: .9em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 50px;
  }
  /* Contact */
  #contact-header{
    font-size: 1em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 20%;
    height: 20%;
    top: 50px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 320px){
  /* Home */
  #home-h1{
    font-size: 1.3em;
  }
  #home-h4{
    font-size: 1em;
  }
  /* Footer */
  #footer-txt{
    font-size: .6em;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 0px;
  }
  #profile-page-header{
    font-size: .8em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: .6em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: .5em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: .6em;
    font-weight: bold;
    padding-top: 0px;
  }
  #highSchool, 
  #college{
    font-size: .5em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 50%;
    padding-bottom: 0px;
  }
  #name, 
  #roles,
  #location{
    font-size: .5em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 0px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .6em;
    padding: 0;
    width: 45px; 
  }
  .icon-style{
    height: 10px;
    width: 10px;
  }
  #profile-part1{
    padding-bottom: 0px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: .6em;
    font-weight: bold;
  }
  nav{
    width: 18vw;
    height: 40vh;
    color: white;
    border-radius: 12px;
  }
  #scroll-btn{
    height: 30px;
    width: 20px;
  }
  .scroll-up{
    left: 20%;
  }
  /* Skills */
  #skills-header{
    font-size: .8em;
    font-weight: bold;
  }
  #img-style{
    width: 10% !important;
    height: 10% !important;
    top: 40px;
  }
  #img-row{
    padding-top: 0px;
  }
  #xp-header{
    font-size: .8em;
    font-weight: bold;
  }
  .head1{
    font-size: .8em;
    font-weight: 600;
  }
  .head2{
    font-size: .79em;
    font-weight: 600;
  }
  .head3{
    font-size: .76em;
    font-weight: 600;
  }
  .head4{
    font-size: .75em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 0px;
  }
  /* Projects Page */
  #projects-header{
    font-size: .8em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 130px;
    height: 130px;
  }
  #projects-message{
    font-size: .8em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 0px;
  }
  /* Contact */
  #contact-header{
    font-size: 1em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 17%;
    height: 17%;
    top: 50px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 280px){
  /* Home */
  #home-h1{
    font-size: 1.3em;
  }
  #home-h4{
    font-size: 1em;
  }
  /* Footer */
  #footer-txt{
    font-size: .6em;
  }
  /* Profile Header */
  #profile-head{
    padding-bottom: 0px;
  }
  #profile-page-header{
    font-size: .8em;
    font-weight: bold;
  }
  /* Overview */
  .profile-page-header{
    margin-bottom: 70px;
  }
  #about-me{
    font-size: .6em;
    font-weight: bold;
  }
  #about-me-par1,
  #about-me-par2{
    font-size: .5em;
    font-weight: 600;
    padding: 0 20px;
  }
  #education{
    font-size: .6em;
    font-weight: bold;
    padding-top: 0px;
  }
  #highSchool, 
  #college{
    font-size: .5em;
    font-weight: 600;
  }
  /* Personal */
  #profile-img{
    width: 50%;
    padding-bottom: 0px;
  }
  #name, 
  #roles,
  #location{
    font-size: .5em;
    font-weight: 600;
  }
  #location{
    padding-bottom: 0px;
  }
  /* Profile Buttons */
  #link-btns{
    display: flex;
    align-items: center;
    /* height: 20px; */
    font-size: .5em;
    padding: 0;
    width: 44px; 
  }
  .icon-style{
    height: 10px;
    width: 10px;
  }
  #profile-part1{
    padding-bottom: 0px;
  }
  #profile-content{
    display: flex;
    flex-direction: column;
  }
  #link{
    font-size: .5em;
    font-weight: bold;
  }
  nav{
    width: 19vw;
    height: 40vh;
    color: white;
    border-radius: 12px;
  }
  #scroll-btn{
    height: 30px;
    width: 20px;
  }
  .scroll-up{
    left: 20%;
  }
  /* Skills */
  #skills-header{
    font-size: .8em;
    font-weight: bold;
  }
  #img-style{
    width: 18% !important;
    height: 18% !important;
    top: 0px;
  }
  #img-row{
    padding-top: 0px;
  }
  #xp-header{
    font-size: .8em;
    font-weight: bold;
  }
  .head1{
    font-size: .8em;
    font-weight: 600;
  }
  .head2{
    font-size: .79em;
    font-weight: 600;
  }
  .head3{
    font-size: .76em;
    font-weight: 600;
  }
  .head4{
    font-size: .75em;
    font-weight: 600;
  }
  #xp-cont{
    padding-top: 0px;
  }
  /* Projects Page */
  #projects-header{
    font-size: .8em;
    font-weight: bold;
  }
  #loading-img-style{
    width: 130px;
    height: 130px;
  }
  #projects-message{
    font-size: .8em;
    font-weight: 600;
  }
  #img-container{
    padding-top: 0px;
  }
  /* Contact */
  #contact-header{
    font-size: 1em;
    font-weight: bold;
  }
  #contact-img-style{
    width: 17%;
    height: 17%;
    top: 50px;
    padding-top: 0px;
  }
}

html, body, #app, #app>div {
  height: 100vh;
}

html{
  background: #1A1A1D;
}